[project]
[access "refs/*"]
	owner = group Administrators
	create = group galaxy5 maintainers
	push = group galaxy5 maintainers
	label-Code-Review = -2..+2 group galaxy5 maintainers
	label-Verified = -1..+1 group galaxy5 maintainers
	submit = group galaxy5 maintainers
[submit]
	action = rebase if necessary
